.NavSearch{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: aquamarine;
}

.ItemsNavDiv , .Search{
    margin: auto 20px;
    padding: 10px 0;
}

.ItemsNavDiv .Items{
    display: grid;
    grid-template-columns: 20% 20%;
    list-style: none;
    font-size: 25px;
}

.Search{
    display: grid;
    grid-template-columns: 75% 20%;
    grid-column-gap: 3%;
}

.InputSearch{
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.ButtonSearch{
    height: 40x;
    font-size: 20px;
    border-radius: 5px;
}

.Link{
    text-decoration: none;
    color: #212121;
}